In [4]:
import pandas as pd
import numpy as np

# Creating an empty CSV file named 'sample.csv' (or attempting to)
open("sample.csv", 'x')

# Reading the CSV file into a pandas DataFrame
data = pd.read_csv('sample.csv')

# Creating a DataFrame 'df' from the read data (though 'data' is already a DataFrame)
df = pd.DataFrame(data)

# Displaying the DataFrame 'df'
print(df)

  name  income
0    a  100000
1    b   80000
2    c   75000
3    d   85000
4    e   90000

In [6]:
# Calculate the mean of the 'income' column
meanincome = df['income'].mean()

# Print the mean income
print("Mean Income:", meanincome)

Mean Income: 86000.0

In [25]:
# Assign NaN (Not a Number) to the 'income' column at index 2
df['income'][2] = np.NaN
df

C:\Users\DELL\AppData\Local\Temp\ipykernel_7188\238163948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income'][2]=np.NaN

  name    income
0    a  100000.0
1    b   80000.0
2    c       NaN
3    d   85000.0
4    e   90000.0

In [27]:
# Fill missing values (NaN) in 'income' column with the mean of non-null values
# newdf is a new DataFrame where missing values in the 'income' column have been replaced
# with the mean value of the non-null entries in that column.
newdf = df.fillna(df['income'].mean())
newdf

  name    income
0    a  100000.0
1    b   80000.0
2    c   88750.0
3    d   85000.0
4    e   90000.0