In [4]:
import pandas as pd

data = {
    'name': ['a', 'b', 'c', 'd', 'e', 'f'],
    'income': [100000, 85000, 90000, 75000, 80000, 1000000]
}
# Create DataFrame
df = pd.DataFrame(data)
df

  name   income
0    a   100000
1    b    85000
2    c    90000
3    d    75000
4    e    80000
5    f  1000000

In [6]:
df.income.describe()

count          6.000000
mean      238333.333333
std       373238.083087
min        75000.000000
25%        81250.000000
50%        87500.000000
75%        97500.000000
max      1000000.000000
Name: income, dtype: float64

In [8]:
df.income.quantile(0)

75000.0

In [10]:
df.income.quantile(0.25)

81250.0

In [12]:
df.income.quantile(0.25,interpolation='higher')

85000

In [14]:
df.income.quantile(0.25,interpolation='lower')

80000

In [16]:
outlier=df.income.quantile(0.99,interpolation='higher')

In [ ]:
# 100000 is the outlier. Now we are going to remove the outlier

In [18]:
df[df.income<outlier]

  name  income
0    a  100000
1    b   85000
2    c   90000
3    d   75000
4    e   80000

In [38]:
import pandas as pd

# Create the DataFrame
data = {
    'name': ['a', 'b', 'c', 'd', 'e', 'f'],
    'income': [100000, 85000, 90000, 75000, 80000, 1000000]
}
df = pd.DataFrame(data)

# Calculate quartiles
Q1 = df['income'].quantile(0.25)
Q2 = df['income'].quantile(0.50)
Q3 = df['income'].quantile(0.75)
print(Q1)
print(Q2)
print(Q3)
# Calculate IQR
IQR = Q3 - Q1
print(IQR)
# Calculate bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df['income'] < lower_bound) | (df['income'] > upper_bound)]

# Remove outliers from the DataFrame
clean_df = df[(df['income'] >= lower_bound) & (df['income'] <= upper_bound)]

print("Original DataFrame:")
print(df)
print("\nOutliers:")
print(outliers)
print("\nDataFrame after removing outliers:")
print(clean_df)

81250.0
87500.0
97500.0
16250.0
Original DataFrame:
  name   income
0    a   100000
1    b    85000
2    c    90000
3    d    75000
4    e    80000
5    f  1000000

Outliers:
  name   income
5    f  1000000

DataFrame after removing outliers:
  name  income
0    a  100000
1    b   85000
2    c   90000
3    d   75000
4    e   80000