In [61]:
import pandas as pd

data1 = {
    'name': ['a', 'b', 'c', 'd', 'e','f'],
    'score': [75,72,68,65,67,75] #less deviation
}
data2 = {
    'name': ['a', 'b', 'c', 'd', 'e','f'],
    'score': [93,96,43,47,51, 90] #high deviation
}
# Create DataFrame
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
avg1=df1['score'].mean()
print("avg:",avg1)

  name  score
0    a     75
1    b     72
2    c     68
3    d     65
4    e     67
5    f     75
avg: 70.33333333333333

In [65]:
print(df2)
avg2=df2['score'].mean()
print("avg:",avg2)

  name  score
0    a     93
1    b     96
2    c     43
3    d     47
4    e     51
5    f     90
avg: 70.0

In [77]:
df1['score-avg']=abs(df1['score']-avg1)
print(df1)
MAD1=df1['score-avg'].mean()
print(MAD1)

  name  score  score-avg
0    a     75   4.666667
1    b     72   1.666667
2    c     68   2.333333
3    d     65   5.333333
4    e     67   3.333333
5    f     75   4.666667
3.6666666666666665

In [81]:
df2['score-avg']=abs(df2['score']-avg2)
print(df2)
MAD2=df2['score-avg'].mean()
print(MAD2)

  name  score  score-avg
0    a     93       23.0
1    b     96       26.0
2    c     43       27.0
3    d     47       23.0
4    e     51       19.0
5    f     90       20.0
23.0

In [97]:
#72clz
import pandas as pd
import numpy as np

# Data with less deviation
data1 = {
    'name': ['a', 'b', 'c', 'd', 'e', 'f'],
    'score': [75, 72, 68, 65, 67, 75]
}

# Data with higher deviation
data2 = {
    'name': ['a', 'b', 'c', 'd', 'e', 'f'],
    'score': [83, 70, 70, 63, 70, 70]
}

# Create DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

# Print DataFrames
print(df1)
print(df2)

# Calculate mean of scores
avg1 = df1['score'].mean()
avg2 = df2['score'].mean()

# Add a new column for absolute deviation from the mean
df1['score-avg'] = abs(df1['score'] - avg1)
print(df1)

# Calculate Mean Absolute Deviation (MAD)
MAD1 = df1['score-avg'].mean()
print('MAD1:', MAD1)

# Add a new column for squared deviations
df1['sqr'] = df1['score-avg']**2
print(df1)

# Calculate Standard Deviation (SD)
sd1 = np.sqrt(df1['sqr'].mean())
print('SD1:', sd1)

# Repeat the same process for the second dataset
df2['score-avg'] = abs(df2['score'] - avg2)
print(df2)

MAD2 = df2['score-avg'].mean()
print('MAD2:', MAD2)

df2['sqr'] = df2['score-avg']**2
print(df2)

sd2 = np.sqrt(df2['sqr'].mean())
print('SD2:', sd2)

  name  score
0    a     75
1    b     72
2    c     68
3    d     65
4    e     67
5    f     75
  name  score
0    a     83
1    b     70
2    c     70
3    d     63
4    e     70
5    f     70
  name  score  score-avg
0    a     75   4.666667
1    b     72   1.666667
2    c     68   2.333333
3    d     65   5.333333
4    e     67   3.333333
5    f     75   4.666667
MAD1: 3.6666666666666665
  name  score  score-avg        sqr
0    a     75   4.666667  21.777778
1    b     72   1.666667   2.777778
2    c     68   2.333333   5.444444
3    d     65   5.333333  28.444444
4    e     67   3.333333  11.111111
5    f     75   4.666667  21.777778
SD1: 3.901566636906542
  name  score  score-avg
0    a     83       12.0
1    b     70        1.0
2    c     70        1.0
3    d     63        8.0
4    e     70        1.0
5    f     70        1.0
MAD2: 4.0
  name  score  score-avg    sqr
0    a     83       12.0  144.0
1    b     70        1.0    1.0
2    c     70        1.0    1.0
3    d     63        8.0   64.0
4    e     70        1.0    1.0
5    f     70        1.0    1.0
SD2: 5.94418483337567